.App {
  width: 900px;
  margin: 30px auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.leftBlock {
  border: 3px solid #ccc;
  width: 30%;
}

.rightBlock {
  padding-top: 15px;
  padding-left: 15px;
  border: 3px solid #ccc;
  width: 65%;
  height: 300px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.btnIcons {
  width: 60px;
  height: 35px;
}

.totalPrice {
  
}