.App {
  width: 900px;
  margin: 30px auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.leftBlock {
  border: 1px solid red;
  width: 30%;
}

.rightBlock {
  border: 1px solid red;
  width: 65%;
}

.btnIcons {
  width: 30px;
  height: 30px;
}